.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__current-group
        = @group.name
      .chat-main__group-info__left-box__member-list
        Member：
        .chat-main__group-info__left-box__member-list__member
          - @group.users.each do |user|
            #{user.name}
    = link_to "Edit", edit_group_path(@group), class: "chat-main__group-info__edit-btn"
  .chat-main__message-list
    = render @messages
  = form_for [@group, @message] do |f|
    .chat-main__message-form
      .chat-main__message-form__input-box
        = f.text_field :content, class: 'chat-main__message-form__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__message-form__input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'chat-main__message-form__input-box__image__file'
      = f.submit 'Send', class: 'chat-main__message-form__submit-btn'